<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel">
    <div class="panel-heading">
        <a href="@Url.Action("ExportToExcel", "Consultas")" class="btn btn-primary">Exportar</a>
    </div>
</div>